<div>
    <h3>Nº Episodes</h3>
    <svg id="chart"></svg>
</div>


<script src="https://d3js.org/d3.v7.min.js"></script>

<script>
    // Assuming scores data is correctly provided as an array of numbers
    const animes = {{ num_episodes_data | tojson }};
    console.log(animes)

    const data = Array.from(
            d3.group(animes, d => d),
            ([num_episodes, occurrences]) => ({ num_episodes, count: occurrences.length })
        );

        // Configuração do gráfico
        const width1 = 500;
        const height1 = 300;
        const margin1 = { top: 20, right: 30, bottom: 50, left: 50 };

        const svg1 = d3.select("#chart")
            .attr("width", width1)
            .attr("height", height1);

        
            const uniqueValues = data.map(d => d.num_episodes).slice(0, 15);    
        const x = d3.scaleBand()
            .domain(uniqueValues) // Ajusta o domínio para conter apenas os 15 valores
            .range([margin1.left, width1 - margin1.right])
            .padding(0.1);

        const y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.count)])
            .nice()
            .range([height1 - margin1.bottom, margin1.top]);

        // Eixos
        svg1.append("g")
            .attr("transform", `translate(0,${height1 - margin1.bottom})`)
            .call(d3.axisBottom(x).tickFormat(d => `${d} ep`))
            .selectAll("text")
            .attr("transform", "rotate(-45)")
            .style("text-anchor", "end")
            .style("font-size", "12px");

        svg1.append("g")
            .attr("transform", `translate(${margin1.left},0)`)
            .call(d3.axisLeft(y));

        // Barras do gráfico
        svg1.selectAll(".bar")
            .data(data)
            .join("rect")
            .attr("class", "bar")
            .attr("x", d => x(d.num_episodes))
            .attr("y", d => y(d.count))
            .attr("width", x.bandwidth())
            .attr("height", d => y(0) - y(d.count))
            .attr("fill", "steelblue");

        // Títulos e legendas
        svg1.append("text")
            .attr("x", width1 / 2)
            .attr("y", height1 - 10)
            .attr("text-anchor", "middle")
            .text("Número de Episódios");

        svg1.append("text")
            .attr("transform", "rotate(-90)")
            .attr("x", -height1 / 2)
            .attr("y", 15)
            .attr("text-anchor", "middle")
            .text("Quantidade de Animes");

        svg1.append("text")
            .attr("x", width1 / 2)
            .attr("y", margin1.top)
            .attr("text-anchor", "middle")
            .style("font-size", "16px")
            .style("font-weight", "bold")
            .text("Distribuição de Animes por Número de Episódios");
</script>    
    