<div>   
    <svg id="barchart_genres"></svg>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>

<script>
    const rawDemographicsData1 = {{ demographics_data | tojson }};
    console.log("Raw data:", rawDemographicsData1);

    let barchartdemographicsData = Object.entries(rawDemographicsData1).map(([label, value]) => ({
        label,
        value
    }));
    console.log("Formatted data:", barchartdemographicsData);

    const margin4 = { top: 20, right: 30, bottom: 40, left: 50 };
    const width4 = 600 - margin4.left - margin4.right;
    const height4 = 400 - margin4.top - margin4.bottom;

    const svg4 = d3.select("#barchart_genres")
        .attr("width", width4 + margin4.left + margin4.right)
        .attr("height", height4 + margin4.top + margin4.bottom)
        .append("g")
        .attr("transform", `translate(${margin4.left},${margin4.top})`);

    let x = d3.scaleBand()
        .domain(barchartdemographicsData.map(d => d.label))
        .range([0, width4])
        .padding(0.1);

    let y = d3.scaleLinear()
        .domain([0, d3.max(barchartdemographicsData, d => d.value)])
        .nice()
        .range([height4, 0]);

    const xAxis = svg4.append("g")
        .attr("class", "x-axis") 
        .attr("transform", `translate(0,${height4})`)
        .call(d3.axisBottom(x))
        .selectAll("text")
        .attr("transform", "translate(-10,0)rotate(-45)")
        .style("text-anchor", "end");

    svg4.append("g")
        .call(d3.axisLeft(y));

    const bars = svg4.selectAll(".bar")
        .data(barchartdemographicsData)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", d => x(d.label))
        .attr("y", d => y(d.value))
        .attr("width", x.bandwidth())
        .attr("height", d => height4 - y(d.value))
        .attr("fill", "steelblue")
        .on("click", function (event, d) {
            event.stopPropagation();
            console.log("Clicked on bar:", d);
            handleSpiderDemographicsClick(d.label);
        });

    const labels = svg4.selectAll(".label")
        .data(barchartdemographicsData)
        .enter()
        .append("text")
        .attr("class", "label")
        .attr("x", d => x(d.label) + x.bandwidth() / 2)
        .attr("y", d => y(d.value) - 5)
        .attr("text-anchor", "middle")
        .text(d => Math.round(d.value*100)/100);

    function sortBars() {
        barchartdemographicsData.sort((a, b) => b.value - a.value);

        x.domain(barchartdemographicsData.map(d => d.label));

        bars.data(barchartdemographicsData)
            .transition()
            .duration(1000)
            .attr("x", d => x(d.label))  
            .attr("y", d => y(d.value))  
            .attr("height", d => height4 - y(d.value)); 

        labels.data(barchartdemographicsData)
            .transition()
            .duration(1000)
            .attr("x", d => x(d.label) + x.bandwidth() / 2) 
            .attr("y", d => y(d.value) - 5)  
            .text(d => Math.round(d.value*100)/100); 

        svg4.select(".x-axis") 
            .transition()  
            .duration(1000)
            .call(d3.axisBottom(x))
            .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end");
    }

    setTimeout(sortBars, 2000);
</script>
