{% extends "dashboard_base.html" %}

{% block title %}Dashboard 2{% endblock %}

{% block content %}

<style>
    body{
        background: linear-gradient(to right, #d4e0df, #696e74);
        color: #fff;
    }
</style>

    {%include 'anime_details.html'%}
    <div class="p-2 d-flex flex-row" >
        <div class="p-2" >
            {% set top_animes_data = top_anime %}
            {% include 'top_animes.html'%} 
        </div>
        <div class="p-2" >
            {% set top_genres_data = top_genres %}
            {% include 'top_genres.html' %}
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
<script>
    function showModal(anime_id) {
        var response=fetch("api/anime/"+anime_id+"/details");
        response.then((response) => response.json()).then((data) => {
            $("#animeTitle").text(data.title);
            $("#animeImage").attr("src", data.main_picture);
            $("#animeScore").text(data.score);
            $("#animeScoredBy").text(data.scored_by);
            $("#animeStartDate").text(data.start_date);
            $("#animeEndDate").text(data.end_date);
            $("#animeStatus").text(data.status);
            $("#animeGenres").text(data.genres);
            $("#animeDemographics").text(data.demographics);
            $("#myModal").modal("show");
        });
    }
</script>
{% endblock %}
